body, html, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: ##337ab7;
  cursor: pointer;
}
button {
  cursor: pointer;
  outline: none;
}

hr {
  margin: 7px 0px 8px;
  height: 1px;
  opacity: 1;
  border: none;
  background-color: #c9c9c9;
}

.container {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.container--blue {
  background: #1da8ff;
}

.navContainer {
  height: 30px;
  display: table-row;
}

.nav {
  background: #1da8ff;
  display:table-cell;
}

.logout {
  color: aliceblue;
  padding-right: 8px;
  float: right;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.nav ul li {
  display: inline;
  line-height: 30px;
}

.nav ul li a {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 5px;
}

.nav ul li a:hover {
  background: rgba(255, 255, 255, .1);
}

.rightNav {
  float: right;
}

.avatar {
  display: inline-block;
  height: 30px;
  padding-left: 33px;
  background-position: center left;
  background-size: 28px 28px;
  background-repeat: no-repeat;
}

.content {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.sidebar {
  background: #e9e9e9;
  overflow: hidden;
  height: 100%;
  display: table-cell;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  transition: width 0.1s ease-in;
}

.toggleLink {
  cursor: pointer;
}

.sidebar-top {
  background: #d6d5d5;
  height: 25px;
  line-height: 25px;
  padding-right: 5px;
  text-align: right;
  border-bottom: 1px solid #cfcfcf;
}

.sidebar-content {
  padding: 0 10px 10px 10px;
  border-top: 1px solid #f3f2f2;
}

.blockArea {
  background: #FFFFFF;
  vertical-align: top;
  display: table-cell;
  transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
}

.canvasButtonContainer {
  height: 40px;
  padding: 10px 0 0 10px;
}

.serverCanvas {
  height: calc(100% - 50px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.serverCanvas::-webkit-scrollbar {
    height: 12px;
}

.serverCanvas::-webkit-scrollbar-track {
    background: #1069a0;
}

.serverCanvas::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6fc6fc;
}

.endpointsContainer {
  margin: 10px 0;
}

.noMatch {
  width: 100%;
  margin-top: 300px;
  text-align: center;
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #1da8ff;
  font-size: 50px;
}

.express {
  margin-bottom: 5px;
}

.serverSettings input {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #6c6b6b;
  color: #333;
  margin-bottom: 10px;
  transition: border .2s;
}

.serverSettings .small {
  font-size: 12px;
}

.githubForm {
  position: relative;
}
.githubForm textarea {
  background-color: transparent;
  resize: none;
  border: 0px;
}

.error[type="text"] {
  border-bottom: 1px solid #ec1f1f;
  text-transform: none !important;
}

.serverSettings input:focus {
  border-bottom: 1px solid #1da8ff;
}

.serverLabel {
  font-family: 'Roboto', sans-serif;
  color: #1da8ff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 3px 0;
}

.routerContainer {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.routerContainer:first-child {
  margin-left: 10px;
}

/* Button Styling */

.btn, .btn-block, .btn-popup {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 12px;
  text-align: center;
  border: 1px solid transparent;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  text-transform: uppercase;
}

.btn-block {
  display: block;
  margin: 10px 0;
}

.btn-default, .btn-popup--cancel {
  background: #FFFFFF;
  color: #333;
}

.btn-default:hover, .btn-popup--cancel:hover {
  background: #e6e6e6;
}

.btn-active, .btn-primary {
  background: #1da8ff;
  color: #FFFFFF;
}

.btn-active:hover, .btn-primary:hover {
  background: #58C7FF !important;
}

.btn-popup--warning {
  background: #FF1744;
  color: #FFFFFF;
}

.btn-popup--warning:hover {
  background: #FF8A80;
  color: #FFFFFF;
}

.btn-submit {
  background: #F550A1;
  color: #FFFFFF;
}

.btn-save {
  background: #58C7FF;
  color: #FFFFFF;
  margin: 0 auto;
  width: 100%;
}

.btn-submit-long {
  background: #F550A1;
  color: #FFFFFF;
  margin: 0 auto;
  width: 100%;
}

.btn-submit:hover {
  background: #F586C4 !important;
}
/* Block styling */
.block {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  cursor: move;
}

.block-lg {
  display: inline-block;
  min-height: 50px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color: #1da8ff;
  padding: 5px;
  margin-right: 10px;
  vertical-align: top;
  max-height: 100%;
  transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.block-endpoint {
  display: block;
  box-sizing: border-box;
  min-height: 50px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
  transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.block-settings {
  text-align: right;
  min-height: 25px;
  margin-bottom: 5px;
}

.block-name {
  float: left;
}

.block-settings a {
  margin-left: 7px;
  padding: 0 3px;
}

.block-settings a:hover {
  background: #FFFFFF;
  color: #1da8ff;
  border-radius: 3px;
}

.block-icon {
  margin-right: 5px;
  float: left;
  height: 25px;
}

.block-icon i {
  font-size: 16px;
}

.block-text {
  height: 25px;
}

.value{
  cursor: text;
}

.endpointName {
  outline: none;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #1da8ff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  animation: endpointName .2s;
}

@keyframes endpointName {
  from { border-bottom: 1px solid transparent; }
  to   { border-bottom: 1px solid #1da8ff; }
}

.routerName {
  outline: none;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  background: transparent;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  animation: routerName .2s;
}

@keyframes routerName {
  from { border-bottom: 1px solid transparent; }
  to   { border-bottom: 1px solid #FFFFFF; }
}

/*The error class is applied to both text input boxes and divs containing error messages*/
.error {
  font-family: 'Roboto', sans-serif;
  color: #ec1f1f;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 3px;
  margin-top: -3px;
}

.jumbotron {
  background-image: url('https://pixabay.com/static/uploads/photo/2014/07/10/10/20/golden-gate-bridge-388917_960_720.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  height: 100%;
}

.github {
  height: 80px;
  top: 400px;
}

.github-icon {
  display:block;
  margin:auto;
  margin-bottom: 10px;
}

.butler {
  height: 350px;
  top: 63px;
}

/* Popup Styling */

.mm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  display: none;
  background: rgba(0, 0, 0, .1);
}

.mm-popup--visible {
  display: block;
}

.mm-popup__box {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 375px;
  margin-left: -175px;
  z-index: 100;
  overflow: auto;
  border: 1px solid #B8C8CC;
  border-radius: 3px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.mm-popup__box__body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.mm-popup__close {
  display: none;
}

.mm-popup__box__footer{
  padding: 40px 20px 20px;
}
.mm-popup__box__footer__left-space {
  float: left;
}

.mm-popup__box__footer__left-space {
  float: right;
}

/* Success Page */
.successBanner {
  width: 100%;
  height: 175px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #333;
  text-align: center;
  line-height: 175px;
  background: #E1F5FE;
  animation: successIntro 2s;
}

@keyframes successIntro {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.successBanner-check {
  padding: 10px 15px;
  margin-right: 10px;
  background: #8BC34A;
  color: #FFFFFF;
  border-radius: 50%;
}

.successContent {
  max-width: 800px;
  padding-top: 10px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #333;
}

.successRepo, .successRepo:visited {
  color: #1da8ff;
}
.successRepo:hover {
  color: #333;
}

.successContent-button {
  margin-top: 20px;
}

/* Loading Styling */
.loadingContainer {
  width: 100%;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  animation: 2s infinite .3s textZoom;
}

@keyframes textZoom {
  from {
    font-size: 50px;
  }

  50% {
    font-size: 70px;
  }

  to {
    font-size: 50px;
  }
}
